
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  color: #2980b9;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}


button {
  padding: 15px 30px;
  font-size: 24px;
  margin: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}


.hand-image {
  max-width: 150px;
}


.scoreboard {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}


.round-result {
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
  color: #333;
}


.round-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

.round-result {
  color: #333;
}

.player-win {
  color: #27ae60; 
}

.computer-win {
  color: #e74c3c; 
}


@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.player-win,
.computer-win {
  animation: scaleUp 1s ease-in-out;
}
